<html lang="en">
<script src="http://dicterm/static/jquery.min.js"></script>
<script src="http://dicterm/static/jquery.easyui.min.js"></script>
<body>

  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
Domaine: <select id="seldomaine" name="domaine"></select>
<p>Termes:</p>
<p>
<select id="termeAn" name="TermeAnglais" size=6 style="width: 200px;"></select>
</p>

<p>Résultats:</p>
<div id="divout"></div>
<div id="divbouton"></div>
<div class="easyui-dialog" style="width:600px;height:300px"
		data-options="title:'My Dialog',modal:true,
			buttons:[{
				text:'Save',
				handler:function(){...}
			},{
				text:'Close',
				handler:function(){...}
			}]">
	Dialog Content.
</div>

<div id="editTerme" class="easyui-window" title="Modal Window" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:500px;height:200px;padding:10px;">
    The window content.
</div>
 
<script>
$( "#selclient" )
  .change(function () {
    var str = "";
    var client = "";
    $( "#selclient option:selected" ).each(function() {
      str += $( this ).val() + " :" + $( this ).text() ;
      client = $( this ).val();
    });
    
    json_url = "terme/Domaine/parClient/" + client + "/";
    console.log("Acces a: " + json_url);
    $.getJSON(json_url, function( data ) {
      $('#seldomaine option').remove();
      $.each( data, function( key, domaine ) {
        console.log("json: key = " + key + " id = " + domaine.id + " domaine = " + domaine.nom_domaine);
        //str += domaine.id + ":" + domaine.nom_domaine + "\n";
        $('#seldomaine').append('<option value="' + domaine.id + '">' + domaine.nom_domaine + '</option>');
      });
      console.log(str);
      //$( "#divout" ).append( lres );
    });
   });
$( "#selclient" ).change();
$( "#seldomaine" )
  .change(function () {
    var str = "";
    var domaine = "";
    $( "#seldomaine option:selected" ).each(function() {
      domaine = $( this ).val();
    });
    
    json_url = "terme/parDomaine/" + domaine + "/";
    console.log("Acces a: " + json_url);
    $.getJSON(json_url, function( data ) {
      $('#termeAn option').remove();
      $.each( data, function( key, terme ) {
        console.log("json: key = " + key + " id = " + terme.id + " terme = " + terme.terme);
        str += terme.id + ":" + terme.terme + "\n";
        $('#termeAn').append('<option value="' + terme.id + '">' + terme.terme + '</option>');
      });
      //console.log(str);
    });
   });

$( "#termeAn" )
  .change(function () {
    console.log('and la methode change de termeAn');
    var termeAn = "";
    $( "#termeAn option:selected" ).each(function() {
      termeAn = $( this ).val();
    });
    console.log('on va chercher' + termeAn );
    //$('#divout').remove();
    $( "#divout" ).empty();
    $( "#divbouton" ).empty();
    json_url = "terme/parTermeAn/" + termeAn + "/";
    $.getJSON(json_url, function( data ) {
      $.each( data, function( key, terme ) {
        console.log("json: key = " + key + " id = " + terme.id + " terme = " + terme.terme);
        //var nouvLigne = '<bf>' + terme.terme + '</bf>: ' + terme.definition + ' (' + terme.contexte +') <a hfref="' + terme.source + '">source</a>';
        
        //$( "<p></p><bf>" + terme.terme + "</bf>: " + terme.definition + " (" + terme.contexte +") <a hfref='" + terme.source + "'>source</a></p>" ).appendTo( "#divout" );
        
        var spanTerme = document.createElement("SPAN");
        var boldTerme = document.createElement("B");
            var bText = document.createTextNode( terme.terme );
            boldTerme.appendChild(bText);
        spanTerme.appendChild(boldTerme); 
        
        var tnDef = document.createTextNode( ": " + terme.definition + " (" + terme.contexte +") ");
        spanTerme.appendChild(tnDef);
        
        var aLink = document.createElement("A");
            aLink.setAttribute('href', terme.source);
	        var txtLien = document.createTextNode( "source" );
            aLink.appendChild(txtLien);
        spanTerme.appendChild(aLink);
        
        var tnEspace = document.createTextNode( " " );
        spanTerme.appendChild(tnEspace);
        
        var aEdit = document.createElement("A");
            aEdit.setAttribute('href', 'terme/edit/' + terme.id);
	        var imgEdit = document.createElement( "IMG" );
            imgEdit.setAttribute('src','static/icons/16/gtk-edit.svg');
            aEdit.appendChild(imgEdit);
        spanTerme.appendChild(aEdit);
         
        $( "#divout" ).append(spanTerme);
        var lb = document.createElement("BR");
        $( "#divout" ).append(lb);
        
      });
      //console.log(str);
   });
    var lb = document.createElement("BR");
    $( "#divbouton" ).append(lb);

    var aAdd = document.createElement("A");
    aAdd.setAttribute('href', 'terme/nouveau/termean/' + termeAn );
      var imgAdd = document.createElement( "IMG" );
        imgAdd.setAttribute('src','static/icons/16/list-add.svg');
      aAdd.appendChild(imgAdd);
    $( "#divbouton" ).append(aAdd);

  });
   
   
// clientpagination est très intéressant
</script>
</body>
</html>
