<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Edit</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css" >
  <script src="static/js/jquery-3.3.1.min.js"></script>
	<script src="static/js/bootstrap.bundle.js"></script>
</head>
<body>

{% if client_list %}
		Client: <select class="custom-select d-block w-100" id="selclient" name="client">
    {% for Client in client_list %}
        <option value="{{ Client.id }}">{{ Client.nom_client }}</option>
    {% endfor %}
    </select>
{% else %}
    <p>Aucun client défini.</p>
{% endif %}
<a data-clientid=" " data-toggle="modal" data-target="#editionClientModal" id="ClientEdite" ><img src="static/icons/16/gtk-edit.svg"></a>
<a data-clientid=" " data-toggle="modal" data-target="#editionClientModal" id="ClientAjout" ><img src="static/icons/16/list-add.svg"></a>
<a data-clientid=" " data-toggle="modal" data-target="#editionClientModal" id="ClientSupprime" ><img src="static/icons/16/list-remove.svg"></a>


Domaine: <select class="custom-select d-block w-100" id="seldomaine" name="domaine"></select>


<p>Termes:</p>
<p>
<select class="custom-select d-block w-100" id="termeAn" name="TermeAnglais" size=6 style="width: 200px;"></select>
</p>

<p>Résultats:</p>
<div id="divout"></div>
<div id="divbouton"></div>
<div class="easyui-dialog" style="width:600px;height:300px"
		data-options="title:'My Dialog',modal:true,
			buttons:[{
				text:'Save',
				handler:function(){...}
			},{
				text:'Close',
				handler:function(){...}
			}]">
	Dialog Content.
</div>

<div class="modal fade" id="editionClientModal" tabindex="-1" role="dialog" aria-labelledby="editionClientModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editionClientModalLabel">Édition d'un client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post" id="formClient" >
					<div class="form-hidden">
						<input type="hidden" class="form-control" name="id" id="clientId" >
					</div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nom:</label>
            <input type="text" class="form-control" name="nom_client" id="nom_client" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button id="formClient_submit" type="button" class="btn btn-primary" data-dismiss="modal"  >Sauvegarder</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editionTermeModal" tabindex="-1" role="dialog" aria-labelledby="editionTermeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editionTermeModalLabel">Édition d'un terme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
           <input type="hidden" class="form-control" id="termeId">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Anglais:</label>
            <input type="text" class="form-control" id="termeAnglais" readonly>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Français:</label>
            <input type="text" class="form-control" id="termeFrancais">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Contexte:</label>
            <input type="text" class="form-control" id="termeContexte">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Source:</label>
            <input type="text" class="form-control" id="termeSource">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Définition:</label>
            <textarea class="form-control" id="termeDefinition"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>

<script>
$( "#selclient" )
  .change(function () {
    var str = "";
    var client = "";
    $( "#selclient option:selected" ).each(function() {
      str += $( this ).val() + " :" + $( this ).text() ;
      client = $( this ).val();
    });
    console.log('Défini data-clientid des boutons à:' + client);
    $( "#ClientEdite" ).attr('data-clientid',client);
    console.log('clientid du bouton edite = ' + $( "#ClientEdite" ).data('data-clientid'));
    $( "#ClientAjout" ).attr('data-clientid',client);
    console.log('clientid du bouton ajout = ' + $( "#ClientAjout" ).attr('data-clientid'));
    $( "#ClientSupprime" ).attr('data-clientid',client);
    
    $( "#divout" ).empty();
    $( "#termeAn" ).empty();

    json_url = "terme/Domaine/parClient/" + client + "/";
    console.log("Acces a: " + json_url);
    $.getJSON(json_url, function( data ) {
      $('#seldomaine option').remove();
      $.each( data, function( key, domaine ) {
        console.log("json: key = " + key + " id = " + domaine.id + " domaine = " + domaine.nom_domaine);
        //str += domaine.id + ":" + domaine.nom_domaine + "\n";
        $('#seldomaine').append('<option value="' + domaine.id + '">' + domaine.nom_domaine + '</option>');
      });
      console.log(str);
      //$( "#divout" ).append( lres );
    });
   });
   
$( "#selclient" ).change();
$( "#seldomaine" )
  .change(function () {
    var str = "";
    var domaine = "";
    $( "#seldomaine option:selected" ).each(function() {
      domaine = $( this ).val();
    });
    $( "#divout" ).empty(); 
    $( "#termeAn" ).empty();   
    
    json_url = "terme/parDomaine/" + domaine + "/";
    console.log("Acces a: " + json_url);
    $.getJSON(json_url, function( data ) {
      $('#termeAn option').remove();
      $.each( data, function( key, terme ) {
        console.log("json: key = " + key + " id = " + terme.id + " terme = " + terme.terme);
        str += terme.id + ":" + terme.terme + "\n";
        $('#termeAn').append('<option value="' + terme.id + '">' + terme.terme + '</option>');
      });
      //console.log(str);
    });
   });

$( "#termeAn" )
  .change(function () {
    console.log('and la methode change de termeAn');
    var termeAn = "";
    $( "#termeAn option:selected" ).each(function() {
      termeAn = $( this ).val();
    });
    console.log('on va chercher' + termeAn );
    //$('#divout').remove();
    $( "#divout" ).empty();
    $( "#divbouton" ).empty();
    json_url = "terme/parTermeAn/" + termeAn + "/";
    $.getJSON(json_url, function( data ) {
      $.each( data, function( key, terme ) {
        console.log("json: key = " + key + " id = " + terme.id + " terme = " + terme.terme);
        //var nouvLigne = '<bf>' + terme.terme + '</bf>: ' + terme.definition + ' (' + terme.contexte +') <a hfref="' + terme.source + '">source</a>';
        
        //$( "<p></p><bf>" + terme.terme + "</bf>: " + terme.definition + " (" + terme.contexte +") <a hfref='" + terme.source + "'>source</a></p>" ).appendTo( "#divout" );
        
        var spanTerme = document.createElement("SPAN");
        var boldTerme = document.createElement("B");
            var bText = document.createTextNode( terme.terme );
            boldTerme.appendChild(bText);
        spanTerme.appendChild(boldTerme); 
        
        var tnDef = document.createTextNode( ": " + terme.definition + " (" + terme.contexte +") ");
        spanTerme.appendChild(tnDef);
        
        var aLink = document.createElement("A");
        aLink.setAttribute('href', terme.source);
        var txtLien = document.createTextNode( "source" );
        aLink.appendChild(txtLien);
        spanTerme.appendChild(aLink);
        
        var tnEspace = document.createTextNode( " " );
        spanTerme.appendChild(tnEspace);

  //      var button='<button class="btn btn-primary" data-termid='+terme.id+' data-toggle=modal data-target=editionTermeModal>Édition</button>&nbsp;';
  //      $("#textfile-buttons").append(button);        
        var aEdit = document.createElement("a");
        aEdit.setAttribute('data-termeid',terme.id);
        aEdit.setAttribute('data-toggle','modal');
        aEdit.setAttribute('data-target','#editionTermeModal');
        var imgEdit = document.createElement( "IMG" );
        imgEdit.setAttribute('src','static/icons/16/gtk-edit.svg');
        aEdit.appendChild(imgEdit);
  //      aEdit.innerHTML = "Edition";
        spanTerme.appendChild(aEdit);
         
        $( "#divout" ).append(spanTerme);
        var lb = document.createElement("BR");
        $( "#divout" ).append(lb);
        
      });
      //console.log(str);
   });
    var lb = document.createElement("BR");
    $( "#divbouton" ).append(lb);

    var aAdd = document.createElement("A");
    aAdd.setAttribute('href', 'terme/nouveau/termean/' + termeAn );
    var imgAdd = document.createElement( "IMG" );
    imgAdd.setAttribute('src','static/icons/16/list-add.svg');
    aAdd.appendChild(imgAdd);
    $( "#divbouton" ).append(aAdd);

  });
  
  $('#editionTermeModal').on('show.bs.modal', function (event) {
      console.log('show.bs.modal editionTermeModal');
      var termeId = $(event.relatedTarget).data('termeid') // Extract info from data-* attributes
      console.log('Edition termeid = ' + termeId );
      $(event.currentTarget).find('input[name="termeId"]').val(termeId);
      var termeFr;
      json_url = "terme/parId/" + termeId + "/";
      var json_urlAn = ""
      $.getJSON(json_url, function( terme ) {
         console.log('terme = ',terme);
         $(event.currentTarget).find('input[id="termeFrancais"]').val(terme.terme);
         termeFr=terme.terme;
         console.log('Recu terme: ' + termeFr);
         $(event.currentTarget).find('input[id="termeContexte"]').val(terme.contexte);
         $(event.currentTarget).find('textarea[id="termeDefinition"]').val(terme.definition);
         $(event.currentTarget).find('input[id="termeSource"]').val(terme.source);

         var modal = $(this);
         modal.find('.modal-title').text('Edition du terme: ' + terme.terme);
      
         json_urlAn = "terme/termeAnParId/" + terme.termeAn_id + "/";
         console.log("getJSON: " + json_urlAn);
         $.getJSON(json_urlAn, function( termeAn ) {
               $(event.currentTarget).find('input[id="termeAnglais"]').val(termeAn.terme);
               console.log('Recu termeAn: ' + termeAn.terme);
         });      
      });      
   });
  $('#editionClientModal').on('show.bs.modal', function (event) {
      console.log('show.bs.modal editionClientModal');
      var clientId = $(event.relatedTarget).data('clientid') // Extract info from data-* attributes
      var modal = $(this);
      
      console.log('FormClient client id = ' + clientId );
      console.log('Source = ' + event.relatedTarget.id );
      
      modal.find('.form-hidden input').val(clientId);
      modal.find('.modal-body form').attr("action",event.relatedTarget.id );
      //("#formClient").attr("action",event.relatedTarget.id+"/");     
      
      switch(event.relatedTarget.id) {
        case "ClientEdite":        
          var json_url = "terme/Client/" + clientId + "/";
          $.getJSON(json_url, function( client ) {
            console.log('Client id = ', client.id );
            modal.find('.form-group input').val(client.nom_client);
            modal.find('.form-group input').readonly = false;
            modal.find('button.btn.btn-primary').text('Sauvegarder');
            modal.find('.modal-title').text('Edition client');
          });
          break;
          
        case "ClientSupprime":
          var json_url = "terme/Client/" + clientId + "/";
          $.getJSON(json_url, function( client ) {
            console.log('Client id = ', client.id );
            modal.find('.form-group input').val(client.nom_client);
            modal.find('.form-group input').readonly = true;
            modal.find('button.btn.btn-primary').text('Supprimer');
            modal.find('.modal-title').text('Suppression client');
          });
          break;

        case "ClientAjout":
          modal.find('.form-group input').val('');
          modal.find('.form-group input').readonly = false;
          modal.find('button.btn.btn-primary').text('Ajouter');
          modal.find('.modal-title').text('Ajout client');
          break;
      }      
    });

    $('#formClient_submit').click(function(e){
      e.preventDefault();
      console.log($('#formClient').serialize());
      console.log('action = ' + $('#formClient').attr("action"));
      var action = $('#formClient').attr("action");
      $.post('terme/' + action + '/', 
         $('#formClient').serialize(), 
         function(data, status, xhr){
           // do something here with response;
           console.log('Nom Client = '  + data.nom_client);
           window.location.reload();
         });
    });

// clientpagination est très intéressant
</script>
</body>
</html>
