<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Démo interface</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

{% if client_list %}
Client: <select id="selclient" name="client">
    {% for Client in client_list %}
        <option value="{{ Client.id }}">{{ Client.nom_client }}</option>
    {% endfor %}
    </select>
{% else %}
    <p>Aucun client défini.</p>
{% endif %}
Domaine: <select id="seldomaine" name="domaine"></select>
<p>Termes:</p>
<p>
<select id="termeAn" name="TermeAnglais" size=6 style="width: 200px;"></select>
</p>

<p>Résultats:</p>
<div id="divout">divout</div>
 
<script>
$( "#selclient" )
  .change(function () {
    var str = "";
    var client = "";
    $( "#selclient option:selected" ).each(function() {
      str += $( this ).val() + " :" + $( this ).text() ;
      client = $( this ).val();
    });
    
    json_url = "terme/Domaine/parClient/" + client + "/";
    console.log("Acces a: " + json_url);
    $.getJSON(json_url, function( data ) {
      $('#seldomaine option').remove();
      $.each( data, function( key, domaine ) {
        console.log("json: key = " + key + " id = " + domaine.id + " domaine = " + domaine.nom_domaine);
        //str += domaine.id + ":" + domaine.nom_domaine + "\n";
        $('#seldomaine').append('<option value="' + domaine.id + '">' + domaine.nom_domaine + '</option>');
      });
      console.log(str);
      //$( "#divout" ).append( lres );
    });
   });
$( "#selclient" ).change();
$( "#seldomaine" )
  .change(function () {
    var str = "";
    var domaine = "";
    $( "#seldomaine option:selected" ).each(function() {
      domaine = $( this ).val();
    });
    
    json_url = "terme/parDomaine/" + domaine + "/";
    console.log("Acces a: " + json_url);
    $.getJSON(json_url, function( data ) {
      $('#termeAn option').remove();
      $.each( data, function( key, terme ) {
        console.log("json: key = " + key + " id = " + terme.id + " terme = " + terme.terme);
        str += terme.id + ":" + terme.terme + "\n";
        $('#termeAn').append('<option value="' + terme.id + '">' + terme.terme + '</option>');
      });
      //console.log(str);
    });
   });

$( "#termeAn" )
  .change(function () {
    console.log('and la methode change de termeAn');
    var termeAn = "";
    $( "#termeAn option:selected" ).each(function() {
      termeAn = $( this ).val();
    });
    console.log('on écrit dans #divout:' + termeAn );
    var nouvLigne = $('<p><a href="terme/test" >' + termeAn + '</a> un terme vraiment important</p>');
    $( "#divout" ).append( nouvLigne );
   });

</script>
</body>
</html>
