<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

{% if client_list %}
    <select name="client">
    {% for Client in client_list %}
        <option value="{{ Client.id }}">{{ Client.nom_client }}</option>
    {% endfor %}
    </select>
{% else %}
    <p>Aucun client défini.</p>
{% endif %}
<div></div>
<script>
$( "select" )
  .change(function () {
    var str = "";
    var client = "";
    $( "select option:selected" ).each(function() {
      str += $( this ).val() + ":" + $( this ).text() + "\n";
      client = $( this ).val();
    });
    
    json_url = "terme/Domaine/" + client + "/";
    //alert("Acces a: " + json_url);
    $.getJSON(json_url, function( data ) {
      $.each( data, function( key, domaine ) {
        console.log("key = " + key + " id = " + domaine.id + " domaine = " + domaine.nom_domaine);
        str += domaine.id + ":" + domaine.nom_domaine + "\n";
      });
    });
    console.log(str);
    $( "div" ).text( str );
  });
//  .change();
</script>
